@model Bcri.Core.Bussines.Repository

@{
    string gridId = $"jqGrid-{Model.Config.Code}";
}
<div class="col-lg-12">
    @* agregar marka selector unico para la RepositoryDataGrid tipo Role="repositoridatagrid" *@
    <table id="@gridId"
           data-repositoryId="@Model.Id"
           data-repositoryConfigId="@Model.Config.Id"></table>
    <div id="@gridId-Pager"></div>
</div>
