@using Bcri.Core.Bussines
@model  List<Comment>
@{
    Layout = "";
}

<ul class="chat">
    @foreach (var com in Model)
            {

        <li class="left clearfix">

            <div class="pull-left">
                <strong class="primary-font ">@com.User.FullName</strong>
            </div>
            <div class="chat-body clearfix" id="date">
                <small class="pull-right text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> <em> @com.Date</em>
                </small>
            </div>
            <p>
                @com.Message
            </p>
        </li>
    }
</ul>

